
#questionnaire{
  display: none;
}

#destinationEarth{
  display: none;
}
#destinationVenus{
  display: none;
}
#destinationEuropa{
  display: none;
}
#destinationKepler186f{
  display: none;
}
#destinationKepler16b{
  display: none;
}
#destinationPSO{
  display: none;
}


.destinationimage{
  height: auto;
  width: 50%;
  float: left;
  padding: 15px;
}
